form ul,
ul.errorlist {
    list-style-type: none;
    padding-left: 0;
    margin: 4px 0;
}
form ul {
    margin: 2em 0;
}
form li {
    margin-bottom: 2em;
}
form label {
    display: inline-block;
    font-weight: bold;
    width: 192px;
    margin-right: 16px;
    vertical-align: top;
}

form textarea {
    width: 310px;
}

form input[type=submit], a.action {
    text-decoration: none;
    cursor: pointer;
    border: 0;
    font-family: Matiz, Helvetica, Arial, sans-serif;
    color: #fff;
    letter-spacing: .5px;
    font-size: 1.2em;
    text-transform: uppercase;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
}
form input[type=submit] {
    min-width: 10em;
    margin: 0 0 0 208px;
}
form input[type=submit]:hover, a.action:hover {
    color: #FDEB6A;
}
ul.errorlist + label:before {
    content: "! ";
    display: inline-block;
    background: #f42;
    width: 16px;
    height: 16px;
    line-height: 14px;
    vertical-align: bottom;
    text-align: center;
    text-shadow: 0px 1px 4px #000;

            box-shadow: 0px 0px 2px #000;
       -moz-box-shadow: 0px 0px 2px #000;
    -webkit-box-shadow: 0px 0px 2px #000;

            border-radius: 8px;
       -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    margin-right: 6px;
}
ul.errorlist li {
    color: #fcb;
    font-weight: bold;
    text-shadow: 0px 0px 2rpx #000;
    margin: 4px 0;
}

input[type=checkbox] {
    margin: 0 8px 0 208px;
}
input[type=checkbox] + label {
    display:inline;
}

label.optional:after {
    content: "(optional)";
    font-size: .9em;
}

.screenshots form {
    margin: 3em 0 1em 0;
}
.screenshots form h3,
.screenshots form li,
.screenshots form ul {
    margin: 8px 0;
}
.screenshots label {
    display: inline;
    width: auto;
}
.screenshots input[type=submit] {
    margin: 4px 0;
}

form.vote input[type="submit"] {
    display: none;
}

form.vote.changed input[type="submit"] {
    display: inline;
}

/* ballot */
.stars input {
    visibility: hidden;
    width: 26px;
    height: 22px;
    padding: 0;
    margin: 0;
}
.stars label {
    display: block;
    width: 26px;
    height: 22px;
    padding: 0;
    margin: 0;
    float: left;
    cursor: pointer;
}
.stars label:hover {
    opacity: .7;
    background-image: url(/media/img/stars.png);
}
.stars {
    background-image: url(/media/img/stars.png);
    background-position: 0 50%;
    background-repeat: no-repeat;
    margin-right: 0.5em;
    width: 130px;
    height: 22px;
    float: right;
    display: inline-block;
}
.stars-4 {
    background-position: -26px 50%;
}
.stars-3 {
    background-position: -52px 50%;
}
.stars-2 {
    background-position: -78px 50%;
}
.stars-1 {
    background-position: -104px 50%;
}
.stars-0 {
    background-position: -130px 50%;
}
.ballot {
    padding: 0;
    list-style-type: none;
}
.ballot .game {
    display: block;
    overflow: hidden;
    clear: both;
    padding: 2em;
    height: auto;
    margin-bottom: 1em;
    -moz-transition: .2s opacity;
    background: #777442;
    background: rgba(0,0,0,.2);
}
.ballot h2 {
    float: left;
    margin: 0;
    max-width: 600px;
    font-size: 20px;
    line-height: 28px;
}
.ballot .action {
    margin: 0 1em 0 0;
    float: right;
}
