@font-face {
font-family: "OrbitronMed";
src: url('/media/fonts/orbitron-medium.eot');
src: local('☺'), url("/media/fonts/orbitron-medium.otf") format("opentype");
}
@font-face {
font-family: "OrbitronBold";
src: url('/media/fonts/orbitron-medium.eot');
src: local('☺'), url("/media/fonts/orbitron-bold.otf") format("opentype");
}

@font-face{
font-family: 'Karnivore';
src: url('/media/fonts/KARNIBLA.eot');
src: local('☺'), url('/media/fonts/KARNIBLA.ttf') format('truetype');
}

@font-face{
font-family: 'Matiz';
src: url('/media/fonts/Matiz.eot');
src: local('☺'), url('/media/fonts/Matiz.ttf') format('truetype');
}

html {
    padding-bottom: 0px; 
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

body { 
    font-family: Verdana, sans-serif;
    background: #9aa451 url('/media/img/tile.png') repeat top center; /* for non-css3 browsers */
    background:
        url('/media/img/paper.png') no-repeat top left,
        url('/media/img/paper2.png') no-repeat top right,
        url('/media/img/tile.png') repeat top center;
    padding: 0px; 
    font-size:12px;
    line-height: 1.6em;
    margin: 0 auto;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
    text-rendering: optimizeLegibility;
}

a:link, a:hover, a:active, a:focus, a:visited {color: #fdeb6a;}
a:hover {color: #fdeb6a; text-decoration: underline;}

h1, h2, h3, h4 {font-family: OrbitronMed, "Courier New", monospace; text-transform: uppercase; letter-spacing: 1px;}

h1 {
    font-size: 3em;
    margin-bottom: 1em;
}

.copy h1, .copy h2, .copy h3 {
    text-shadow: 1px 1px rgba(0, 0, 0, 0.6);
}
.copy h1 {
    font-size: 4em;
    margin-top: 1em;
}
.copy h2 {
    font-size: 2em;
    margin-top: 2em;
}

.copy h2 {
    font-size: 2em;
    margin-top: 2em;
    padding-top: 1em;
}

p {
    width: 500px;
    font-size: 1em;
    line-height: 1.6em;
}

.copy #content { margin-bottom: 3em; }
.rules #content {
    background: url('/media/img/sword.png') no-repeat right 240px;
    background: url('/media/img/sword.png') no-repeat right 240px, url('/media/img/raygun.png') no-repeat bottom right transparent;
}

h2:target {
    color: #FDEB6A;
}
h2:target:before {
    content: "> ";
}
h2:target:after {
    content: " <";
}

nav.toc,
aside {
    display: block;
    min-width: 200px;
    max-width: 300px;
    float: right;
    background: rgba(0,0,0,.2);
    padding: 1.5em;
    -webkit-border-radius: 1em;
       -moz-border-radius: 1em;
            border-radius: 1em;
}

nav.toc a {
    display: block;
    text-align: right;
}

.home #content {
    background:transparent url('/media/img/lines.png') no-repeat 330px top;
    padding-top: 1em;
    top: -1em;
    height: 575px;
}
.gameover #content {
    background:transparent url('/media/img/lines-center.png') no-repeat center top;
    padding-top: 0;
    top: -1em;
    height: auto;
    margin-bottom: 20px;
}
.home-title {
    color: white;
    font-family: Karnivore, Verdana, sans-serif;
    font-size:64px;
    text-transform: uppercase;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
    text-align: left;
}
.gameover .home-title {
    text-align: center;
}
.home-welcome {
    margin-top: 65px;
    max-width: 440px;
    text-align: left;
    color: white;
    font-size: 1.3em;
    line-height: 1.6em;
    text-shadow: 0 0 2px rgba(0,0,0,.6);
}

.home-welcome p {
    max-width: 440px;
}

.gameover .home-welcome {
    text-align:center;
    margin-top: 480px;
    font-weight: bold;
    width: auto;
    padding: 0 100px;
}
.gameover .home-welcome, .gameover .home-welcome p {
    max-width:inherit;
    width: auto;
}


.header-left {
    position: absolute;
    bottom: 0;
    left: 430px;
}

.header-right {
    position: absolute;
    bottom: -45px;
    right: 65px;
}

#page {
    position: relative;
    color: #fff;
    margin: 0px auto;
    overflow: visible;
    max-width: 900px;
    font-size: 12px;
    text-align: left;
    padding: 20px 40px;
    border-radius: 0 0 2em 2em;
    -moz-border-radius: 0 0 2em 2em;
    -webkit-border-radius: 0 0 2em 2em;
    width: 900px;
    margin-bottom: 20px;
    background: url('/media/img/mountains.png') no-repeat 100px 20px;
    background-color: rgba(0,0,0,0.2);
}

body.home #page {
    background:
        url('/media/img/mountains.png') no-repeat 100px 20px,
        -moz-radial-gradient(50% 50%,
            rgba(203,210,96,0.6) 10%,
            rgba(203,210,96,0.4) 30%,
            rgba(203,210,96,0) 60%,
            rgba(203,210,96,0) 100%);
    background:
        url('/media/img/mountains.png') no-repeat 100px 20px,
        -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 900,
            from(rgba(203,210,96,0.6)),
            to(rgba(203,210,96,0)),
            color-stop(30%, rgba(203,210,96,0.4)),
            color-stop(60%, rgba(203,210,96,0)));
    background-color: rgba(0,0,0,0.2);
}

.logo {
    margin: -6px auto;
    margin-right: 12px;
    text-align: center;
}

header, footer {
    display: block;
}

footer {
    clear: both;
    color: white;
    font-size: 10px;
    text-align: left;
    padding: 20px 0px;
}

/* MENUS */
/* ----------------------------------------- */

header {
    font-family: Matiz, Verdana, sans-serif;
    z-index: 2;
    max-width: 900px;
    padding: 0;
    width: 900px;
    text-align: left;
} 

/* navigation */
.toplogo {
    float: left;
}

#auth {
    color: #FDEB6A;
    font-weight: bold;
    font-family: Verdana, sans-serif;
    margin: 1em 8px 0 0;
    clear: right;
    float: right;
    text-shadow: 0 1px 1px rgba(0,0,0,.5);
}

#auth a {
    margin: 0 8px;
}
#auth a:hover {
    color: white;
    text-decoration: underline;
}

#messages {
    background: none;
    color: #fff;
    font-weight: bold;
    list-style-type: none;
    margin: 1em;
    padding: 0;
}

#messages li {
    background-color: #cc0;
    background-color: rgba(192, 192, 0, 0.5);
    margin: 0;
    padding: .3em 1em;
}

#messages li.success {
    background-color: #0c0;
    background-color: rgba(0, 192, 0, 0.5);
}

header nav {
    text-transform: uppercase;
    float: right;
    display: inline-block;
    margin-top: 20px;
}

header nav .selected, input[type=submit], a.action {
    color: #fff;
    margin-bottom: 40px;
    font-size: 13px;
    border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    box-shadow: 
        inset rgba(108, 15, 0, 0.4) 0 -2px 0px,
        inset rgba(255, 255, 255, 0.2) 0 1px 0px,
        inset rgba(255, 255, 255, 0.2) 0 -3px 4px,
        inset rgba(255, 255, 255, 0.2) 0 20px 6px;
    -moz-box-shadow: 
        inset rgba(108, 15, 0, 0.4) 0 -2px 0px,
        inset rgba(255, 255, 255, 0.2) 0 1px 0px,
        inset rgba(255, 255, 255, 0.2) 0 -3px 4px,
        inset rgba(255, 255, 255, 0.2) 0 20px 6px;
    -webkit-box-shadow: 
        inset rgba(108, 15, 0, 0.4) 0 -2px 0px,
        inset rgba(255, 255, 255, 0.2) 0 1px 0px,
        inset rgba(255, 255, 255, 0.2) 0 -3px 4px,
        inset rgba(255, 255, 255, 0.2) 0 20px 6px;
    background-color: rgba(230, 32, 0, 0.8);
    padding: 6px 8px 4px 8px;
    margin-right: 8px;
    text-shadow: 0 1px 1px rgba(0,0,0,.5);
}

header nav a {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    padding: 4px 8px;
    margin-right: 8px;
    text-shadow: 0 1px 1px rgba(0,0,0,.5);
}
header nav a:hover {
    color: #fff; 
    text-decoration: none; 
    border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-box-shadow:
        inset rgba(108, 15, 0, 0.4) 0 -2px 0px,
        inset rgba(255, 255, 255, 0.2) 0 1px 0px,
        inset rgba(255, 255, 255, 0.2) 0 -3px 4px,
        inset rgba(255, 255, 255, 0.2) 0 20px 6px;
    -webkit-box-shadow:
        inset rgba(108, 15, 0, 0.4) 0 -2px 0px,
        inset rgba(255, 255, 255, 0.2) 0 1px 0px,
        inset rgba(255, 255, 255, 0.2) 0 -3px 4px,
        inset rgba(255, 255, 255, 0.2) 0 20px 6px;
    box-shadow:
        inset rgba(108, 15, 0, 0.4) 0 -2px 0px,
        inset rgba(255, 255, 255, 0.2) 0 1px 0px,
        inset rgba(255, 255, 255, 0.2) 0 -3px 4px,
        inset rgba(255, 255, 255, 0.2) 0 20px 6px;
    background-color: rgba(230, 32, 0, 0.2);
    padding: 6px 8px 4px 8px;
    margin-right: 8px;
    }


nav a {color: white; text-decoration: none;}
nav a:hover {color: white; text-decoration: none;}

/* end navigation */

/* BUTTON */
/* ----------------------------------------- */

.button {
    position: absolute;
    display: block;
    width: 200px;
    height: 200px;
    margin: 80px auto;
    top: 175px;
    right: -50px;
    text-align: center;
}

.button a{
    position: absolute; 
    display: block; 
    left: 0px; 
    top: 0px; 
    outline: none; 
    height: 200px; 
    width: 200px; 
    color: rgba(255,255,255,1);
    text-shadow: 0px 1px rgba(0, 0, 0, 0.3);
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: -3px;
    font-family: Matiz, Verdana, sans-serif;
    text-decoration: none;
    text-align: center; 
    line-height: 52px; 
    
    -webkit-border-radius: 100px;
       -moz-border-radius: 100%;
            border-radius: 100%;
    
    -webkit-box-shadow: 0px 12px 3px rgba(0,0,0,0.2), 0px 6px 1px rgba(0,0,0,0.8), inset 0px 2px 0px rgba(255,255,255,0.5), inset 0px 12px 48px rgba(255,100,16,0.8), inset 0px -12px 0px rgba(0,0,0,0.2);
       -moz-box-shadow: 0px 12px 3px rgba(0,0,0,0.2), 0px 6px 1px rgba(0,0,0,0.8), inset 0px 2px 0px rgba(255,255,255,0.5), inset 0px 12px 48px rgba(255,100,16,0.8), inset 0px -12px 0px rgba(0,0,0,0.2);
            box-shadow: 0px 12px 3px rgba(0,0,0,0.2), 0px 6px 1px rgba(0,0,0,0.8), inset 0px 2px 0px rgba(255,255,255,0.5), inset 0px 12px 48px rgba(255,100,16,0.8), inset 0px -12px 0px rgba(0,0,0,0.2);
    
    background:rgba(219, 62, 54,1); /* for non-css3 browsers */

    background: -webkit-gradient(linear, left top, left bottom, from(rgba(219, 62, 54,1)), to(rgba(138, 31, 26,1))); /* for webkit browsers */
    background: url('/media/img/screen.png') repeat top center, -moz-linear-gradient(top,  rgba(219, 62, 54,1), rgba(138, 31, 26,1)); /* for firefox 3.6+ */
}

.button a:active{
    top: 4px; 
    
    -webkit-border-radius: 100px;
       -moz-border-radius: 100%;
            border-radius: 100%;
    
    -webkit-box-shadow: 0px 12px 3px rgba(0,0,0,0.2), 0px 2px 1px rgba(0,0,0,0.8), inset 0px 2px 0px rgba(255,255,255,0.5), inset 0px 12px 48px rgba(255,100,16,0.8), inset 0px -12px 0px rgba(0,0,0,0.2);
       -moz-box-shadow: 0px 12px 3px rgba(0,0,0,0.2), 0px 2px 1px rgba(0,0,0,0.8), inset 0px 2px 0px rgba(255,255,255,0.5), inset 0px 12px 48px rgba(255,100,16,0.8), inset 0px -12px 0px rgba(0,0,0,0.2);
            box-shadow: 0px 12px 3px rgba(0,0,0,0.2), 0px 2px 1px rgba(0,0,0,0.8), inset 0px 2px 0px rgba(255,255,255,0.5), inset 0px 12px 48px rgba(255,100,16,0.8), inset 0px -12px 0px rgba(0,0,0,0.2);
}
.gameover .button a {
    font-size: 36px;
}
.button.right {
    right:150px;
    left:auto;
}
.button.left {
    left:150px;
    right:auto;
}
#content {
    position: relative;
}

.judging #content > h3,
.games #content > h3,
.voting #content > h3,
.prizes #content > h3 {
    position: absolute;
    right: 0;
    top: 8px;
    font-size: 1em;
    margin: 0;
}

.prizes #content > h3 {
    right: 40px;
}

.judges {
    clear: both;
}

.judges div h2 {
    line-height: 1em;
}

.judges div {
    float: left;
    width: 50%;
}

.judges div:nth-child(2n+1) {
    clear: left;
}

.judges div p {
    padding-left: 170px;
    padding-right: 30px;
    width: auto;
}

.judges div img {
    float:left;
    margin-right: 1.2em;
}

.prizes #page {
    padding: 20px 0;
    width: 980px;
    max-width: 980px;
}

body.prizes header, body.prizes footer, body.prizes h1{
    margin-left: 40px;
    margin-right: 40px;
}

.grandprize {
    background: #858242 url('/media/img/grandprize.png') no-repeat 30px 20px;
    background: url('/media/img/grandprize.png') no-repeat 30px 20px rgba(0,0,0,.1);
    display: block;
    padding-left: 50%;
    height: 400px;
    line-height: 1.5em;
    width: 50%;
    position: relative;
}

.winners .grandprize h2 {
    font-size: 24px;
    margin-bottom: 0;
    padding-top: 20px;
}

.winners #content > h2 {
    margin: -30px 40px 20px 40px;
    font-size: 14px;
}

.winners h4 {
    color: rgba(255,255,255,.8);
    font-size: 14px;
    margin-top: .2em;
}
.winners h4 span {
    color: #fff;
}
.winners .grandprize h4 {
    margin-top: 1.2em;
    margin-bottom: .5em;
}

.winners .grandprize .thumb {
    position: static;
    overflow: hidden;
    background: none;
    height: 350px;
    width: 512px;
    margin-top: 1em;
    padding:0;
}

.grandprize .button {
    left: 425px;
    margin: 0;
    right: auto;
    top: 280px;
}

.winners .grandprize .game h2 {
    font-size:38px;
}

.winners .grandprize .action {
    font-size: 2em;
    padding: 12px 16px 8px;
}

.winners .grandprize {
    background: #858242 url('/media/img/lines.png') no-repeat 93% top;
    background: url('/media/img/lines.png') no-repeat 93% top rgba(0,0,0,.1);
    display: block;
    padding: 0 25% 0 5%;
    height: 500px;
    line-height: 1.5em;
    width: 70%;
}

ul.prizelist {
    margin-right: 40px;
    padding: 0;
    list-style-position:inside;
    list-style-type: square;
    font-size: 1.1em;
}

.prizelist li {
    padding: 3px 0 3px 10px;
}

.grandprize li {
    cursor: pointer;
    position: relative;
    -moz-transition: background .1s ease-in-out;
}

.grandprize li p,
.grandprize li ul {
    -moz-border-radius: 6px 0 6px 6px;
    -webkit-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
    margin: 0;
    z-index: 1;
    padding: 1em 2em;
    position: absolute;
    pointer-events: none;
    right: 100%;
    height: auto;
    top: 0;
    font-size: .9em;
    width: 360px;
    background: #444;
    -moz-transition: opacity .1s ease-in-out;
    opacity: 0;
}

.grandprize li:hover p,
.grandprize li:hover ul {
    opacity: 1;
    pointer-events: all;
}

.grandprize li:hover {
    -moz-border-radius: 0 6px 6px 0;
    -webkit-border-radius: 0 6px 6px 0;
    border-radius: 0 6px 6px 0;
    background: #444;
    list-style-type: square;
}

.grandprize > li:first-child span {
    font-size: 1.2em;
    font-weight: bold;
}

.categoryprizes {
    padding: 40px;
    display: block;
    position: relative;
}

.categoryprizes > h2 {
    float: left;
    padding-top: 18px;
}

.categoryprizes .prizelist {
    margin: 0 40px 0 50%;
}

.categories {
    clear: both;
    padding-left: 0;
    padding-top: 2em;
    list-style-type: none;
}

.prizes .categories h2 {
    font-size: 24px;
}

.prizes .categories .tiny {
    font-size: 19px;
}

.prizes .categories h3 {
    font-size: 16px;
    margin-bottom: 0;
}

.categories hgroup {
    margin-left: 78px;
    display: block;
}

.categories nav {
    display:block;
    margin: 0 0 16px 0;
}
.winners .categories hgroup {
    margin-left: 80px;
}

.categories li {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: url(/media/img/categoryprize.png) no-repeat 10px 8px #858242;
    background: url(/media/img/categoryprize.png) no-repeat 10px 8px rgba(0,0,0,.1);
    float: left;
    display: block;
    width: 48%;
    margin: 1%;
}

.categories li:nth-child(2n) {
    margin: 1% 0 1% 0;
}

.categories li:nth-child(2n+1) {
    margin: 1% 4% 1% 0;
}

.prizes h2 {
    margin: 0;
    font-size: 32px;
}

.prizes h3 {
    color: #ddda8a;
    margin-top: .5em;
}

body.errorpage h1 {
    font-size: 5em;
    font-family: OrbitronBold, "Courier New", monospace;
    text-align: center;
}

body.errorpage h2,
body.errorpage h3 {
    text-align: center;
    margin: 3em 0;
}

/* Clearfix */
header:after,
article:after,
.judges:after,
.judges div:after,
#content:after,
.game:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}
