{% extends "base.html" %}

{% block class %}form{% endblock %}

{% block content %}
  {% include "registration/account_note.html" %}
	<h1>Login</h1>
	<h3>Don't have an account yet? <a href="{% url registration_register %}">Register!</a></h3>
	<form method="post" action="">
	  {% csrf_token %}
	  <ul>
		  {{ form.as_ul }}
		</ul>
		<input type="submit" name="submit" value="Login" />
	</form>
  <h3>Trouble logging in?</h3>
  <ul>
    <li><a href="{% url auth_password_reset %}">I forgot my password</a></li>
  </ul>
{% endblock content %}
