{% extends "base.html" %}

{% block content %}
  <h1>Password reset - new password</h1>
	{% if validlink %}
    {% if form.errors %}
      <ul class="errorlist">
        <li>Please fix the errors and submit again.</li>
      </ul>
    {% endif %}
    <form method="post" action="">
      {% csrf_token %}
      <ul>
    		{{ form.as_ul }}
      </ul>
      <input type="submit" class="btn post" value="Change my password" />
    </form>
  {% else %}
  	<p>
  		The password reset link was invalid, possibly because it has already been used.
  		Please <a href="{% url auth_password_reset %}">request a new password reset</a>.
  	</p>
	{% endif %}
{% endblock %}
