{% extends "base.html" %}

{% block class %}form{% endblock %}

{% block content %}
  {% include "registration/account_note.html" %}
  <h1>Register</h1>
  <h3>Already registered? <a href="{% url auth_login %}">Login here!</a></h3>
  <p>Fill in the information below to get started:</p>
  {% if form.errors %}
    <ul class="errorlist">
      <li>Please fix the errors and submit again.</li>
    </ul>
  {% endif %}
  <form method="POST" class="standard" action="">
    {% csrf_token %}
    <ul>
      {{ form.as_ul }}
    </ul>
    <input type="submit" class="btn post" value="Register" />	
  </form>
{% endblock %}
