{% extends "base.html" %}
{% load flatblock_tags %}

{% block class %}home gameover{% endblock %}

{% block content %}
  <h1 class="home-title">&lt;&#x200a;GAME ON&#x200a;&gt;</h1>
    <div class="home-welcome">
      <h2>Game Over- for now!</h2>
      <p>The votes are in, the winners are announced, and we're fresh out of quarters.
      <p>Thanks to all who entered, the voters, and our judges!
    </div>
  <div class="button right">
    <a href="{% url games.view_list %}"><br>Play the Games</a>
  </div>
  <div class="button left">
    <a href="{% url games.winners %}"><br>See the Winners</a>
  </div>
{% endblock %}