{% extends "base.html" %}
{% load flatblock_tags %}

{% block class %}home{% endblock %}

{% block content %}
  <h1 class="home-title">&lt;&#x200a;GAME_ON&#x200a;&gt;</h1>
  <div class="home-message">
      {% flatblock "home" 3600 %}
  </div>
  {% if settings.ALLOW_VOTING %}
  <div class="button">
    <a href="{% url vote.ballot %}"><br>VOTE NOW!</a>
  </div>
  {% endif %}
  <img class="header-left" src="{{ MEDIA_URL }}img/ships-ani.png">
  <img class="header-right" src="{{ MEDIA_URL }}img/raygun.png">
{% endblock %}