{% extends "base.html" %}

{% block content %}
  <img class="sub-header-right" src="images/sword.png">
  <img class="sub-footer-right" src="images/raygun.png">
  
  <div class="subTitle">How It Works</div>
  
  <div class="subCopy">
    
    <h1>Sep 11-18:</h1> 
    <p>The competition is open! Submit your art as a Persona design here. How do you create a Persona design? <a href="http://www.getpersonas.com/demo_create">Follow this easy-to-use tutorial</a>.

    <h1>Sep 22 - Oct 6:</h1> 
    <p>Community voting period!  The 10 Persona designs with the most active daily
      users (ADUs) at the end of the competition advance to the finals.

    <p>What is an active daily user (ADU)?   An active daily user is a person that
      selects and keeps your Persona design in their browser. Once a day, we count
      the number of people that have selected and kept your design in their browser
      for more than 24 hours.
      
    <p>Invite your friends, family, and fans to download your Persona!

    <h1>Oct 12-16:</h1> 
    <p><a href="judges.html">Celebrity judges</a> review the top 10 Personas.

    <h1>Oct 21:</h1> 
    <p>Top 3 Winners are announced and awarded prizes.
  </div>
  
{% endblock %}