{% extends "base.html" %}
{% load flatblock_tags %}

{% block class %}copy{% endblock %}

{% block content %}
<h1>The Experts</h1>
<h3><a href="/judging">Learn more about the judging system</a></h3>
<section class="judges masonry">
  <div>
    <img src="/media/img/judges/portrait_anand.png">
    <h2>Anand Agarawala</h2>
    <h3>BumpTop</h3>
    <p>
    Interface designer, software developer, inventor, and 
    <a href="http://www.myspace.com/aunitandkkstyles">nerdcore hip-hopper</a>
    Anand Agarawala brings a welcome sense of expressiveness to the dusty desktop
    interface. His BumpTop software applies a 3D metaphor and rough-and-tumble
    interactivity that delights anyone who sees it in action.
    </p>
  </div>
  <div>
    <img src="/media/img/judges/portrait_dion.png">
    <h2>Dion Almaer</h2>
    <h3>Palm</h3>
    <p>
    Dion Almaer is the director of Developer Relations at Palm where he has
    the pleasure of working with Ben Galbraith.
    The pair co founded <a href="http://ajaxian.com/">Ajaxian.com</a>
    together and the are now focused on delivering a fantastic developer experience
    on the mobile Web. Dion has been a technologist and a developer writing
    Web applications since it took over from Gopher. He has been fortunate enough
    to speak around the world, has published many articles, a book, and of course
    covers life the universe and everything on his blog at
    <a href="http://almaer.com/blog">almaer.com/blog</a>.
    He has been called a human aggregator, and you can see that in full force
    if you follow him on Twitter <a href="http://twitter.com/dalmaer">@dalmaer</a>.
    </p>
  </div>
  <div>
    <img src="/media/img/judges/portrait_ryan.png">
    <h2>Ryan Carson</h2>
    <h3>Carsonified</h3>
    <p>
    After graduating with a degree in Computer Science, Ryan moved to the
    UK in 2001 where he worked as Lead Web Developer at several design agencies
    in London. He worked on large projects for HondaF1, Aston Martin and Rolls
    Royce. In 2004, he started Carsonified with his wife Gill. Carsonified has
    created many different projects and events, such as DropSend (sold in 2008),
    Think Vitamin, Chirp – Twitter’s Developer Conference, Future of Web Apps,
    Future of Web Design, HelloApp and more. Ryan was an advisor to 280 North,
    since acquired by Motorola for $20m. He has written for A List Apart, Signal
    vs Noise and TechCrunch. Hit him up at
    <a href="http://twitter.com/ryancarson">twitter.com/ryancarson</a>.
    </p>
  </div>
  <div>
    <img src="/media/img/judges/portrait_jacinda.png">
    <h2>Jacinda Chew</h2>
    <h3>Insomniac Games</h3>
    <p>
    Jacinda is the Art Director for Insomniac Games. She has been in the video
    game industry producing Playstation 2 and 3 games for over ten years. She
    joined Insomniac as an environment modeler on the Ratchet and Clank series
    and started art directing on Ratchet and Clank 2: A Crack in Time. She is
    most recently working on Resistance 3. Some of her favorite games to play
    include the Professor Layton series, Tales of Abyss, Uncharted 2, and Darksiders.
    She is looking forward to playing Castlevania: Lords of Shadow.
    </p>
  </div>
  <div>
    <img src="/media/img/judges/portrait_erik.png">
    <h2>Erik Christensen</h2>
    <h3>Sony Online Entertainment</h3>
    <p>
    Since graduating from Kenyon College, Erik Christensen has followed a
    typical career path that began by serving as a Submarine Officer in the
    U.S. Navy. Following this, he took the natural next step and became a game
    programmer at Chewysoft. This dovetailed into work as a programmer/designer
    at the Raskin Center for Humane Interfaces, followed by a return to academia
    at University of Illinois-Chicago where he received an M.S. in Mathematical
    Computer Science. Erik Christensen then leveraged his newfound knowledge
    at his most recent position as a programmer and game designer at Sony Online
    Entertainment. He expects to return to academia shortly, specifics to be
    determined.
    </p>
  </div>
  <div>
    <img src="/media/img/judges/portrait_greg.png">
    <h2>Greg Cohn</h2>
    <h3>Yahoo! Games</h3>
    <p>
    Greg Cohn is Sr. Director, Global Head of Product, Yahoo! Games, responsible
    for Yahoo’s Games and game developer strategy worldwide. Previously, he
    was Director of Strategy and Business Development for the Yahoo! Open Strategy,
    helping drive innovation and open the Yahoo! platform to 3rd-party developers,
    publishers, and advertisers. He is active in incubating new products, cultivating
    the startup community, and evangelizing new technologies both internally
    and externally. He has also been involved in several acquisitions, as well
    as being responsible for the landmark partnership with MySpace and Google
    to form the OpenSocial Foundation. In a prior role at Yahoo!, Greg helped
    successfully launch the Yahoo! Publisher Network, and his history as an
    entrepreneur includes executive roles at Away.com (now a division of Cendant),
    Waterfront Media (publishers of the South Beach Diet online), and the Rocky
    Mountain regional blog network <a href="http://newwest.net">NewWest.Net</a>, among others.
    </p>
  </div>
  <div>
    <img src="/media/img/judges/portrait_gregcostikyan.png">
    <h2>Greg Costikyan</h2>
    <h3>playthisthing.com</h3>
    <p>
    I design games. I rant about games. I read books to small children. I
    cook. Every couple of weeks, I haul produce around at the Park Slope Coop.
    That’s about it, really. Oh, I run a group blog that reviews one independently
    created game each weekday (<a href="http://playthisthing.com">playthisthing.com</a>
    ), and a site that retails indie
    games (<a href="http://www.manifestogames.com">www.manifestogames.com</a>
    ).
    </p>
  </div>
  <div>
    <img src="/media/img/judges/portrait_danc.png">
    <h2>Danc</h2>
    <h3>Spry Fox</h3>
    <p>
    I’m the Chief Creative Officer at Spry Fox, a grand company focused on
    a new way of making and funding innovative games.

    I’ve been making games and software for over 15 years and each day is
    more exciting than the last. My journey has led through some of the largest
    companies such as Microsoft and Epic Games as well as a variety of visionary
    startups.

    Hey! Let’s build the future.
    </p>
  </div>
  <div>
    <img src="/media/img/judges/portrait_mark.png">
    <h2>Mark Danks</h2>
    <h3>Zoë Mode San Francisco</h3>
    <p>
    Mark Danks has led game development teams from a production, technical,
    and business perspective. Currently, Mark is the Co-Studio Head for Zoë
    Mode San Francisco where he is developing an unannounced new title for the
    PlayStation3, Xbox 360, Wii, and Nintendo 3DS. Previously, he has been the
    Director of Central Technology for Electronic Arts, Senior Manager of Developer
    Relations for Sony Computer Entertainment America, and Studio Technical
    Director for Stormfront Studios. Among the many projects he has led are
    the multi-million selling The Lord of the Rings: The Two Towers, The Godfather,
    MySims, and portions of the PlayStation3 SDK. Before joining the games industry,
    Mark created special effects software for films, medical VR simulations,
    digital audio applications, and earned a Master’s Degree in music composition.
    </p>
  </div>
  <div>
    <img src="/media/img/judges/portrait_brendan.png">
    <h2>Brendan Eich</h2>
    <h3>Mozilla</h3>
    <p>
    Brendan Eich is CTO of the Mozilla Corp. In 1995, Eich invented JavaScript
    (ECMAScript), the Internet’s most widely used programming language. He also
    co-founded the mozilla.org project in 1998, serving as chief architect.
    Today, Eich’s central focus is guiding the future technical work to keep
    Mozilla vital and competitive. He has also been a board member of the Mozilla
    Foundation since its inception in 2003. Eich and his wife have four children.
    </p>
  </div>
  <div>
    <img src="/media/img/judges/portrait_ben.png">
    <h2>Ben Galbraith</h2>
    <h3>Palm</h3>
    <p>
    Ben Galbraith is the director of developer relations at Palm and the co-founder
    of <a href="http://ajaxian.com">Ajaxian.com</a>. Ben has long juggled interests in both business and tech,
    having written his first computer program at six years old, started his
    first business at ten, and entered the IT workforce at twelve. He has delivered
    hundreds of technical presentations world-wide, produced several technical
    conferences, and co-authored over a half-dozen books. He has enjoyed a variety
    of business and technical roles throughout his career, including CEO, CIO,
    CTO, and Chief Software Architect roles in medical, publishing, media, manufacturing,
    advertising, software and internet industries. He lives in Palo Alto with
    his wife and five children.
    </p>
  </div>
  <div>
    <img src="/media/img/judges/portrait_alex.png">
    <h2>Alex Iskold</h2>
    <h3>GetGlue</h3>
    <p>
    Alex Iskold is a Founder/CEO of GetGlue – a growing social network for
    entertainment. His previous start up focused on software analysis tools
    and was acquired by IBM in 2003. Mr. Iskold has been named among top technologists
    under 40 by Info World. He frequently speaks at conferences about social
    networking, grid computing and semantic web, and also contributed many technology
    articles to ReadWriteWeb.
    </p>
  </div>
  <div>
    <img src="/media/img/judges/portrait_sutha.png">
    <h2>Sutha Kamal</h2>
    <h3>Fjord</h3>
    <p>
    Sutha Kamal is the technology architect at Fjord and was previously Managing
    Director, Mobile at TransGaming Technologies. As an entrepreneur and product
    executive he is excited about strategy and product design as well as soldering
    irons and writing code. He has led teams to build and ship core network
    infrastructure software, mobile games, and user generated content solutions
    for social networks in everything from a 3 person startup to a Fortune 500
    company. Follow him on twitter as <a href="http://twitter.com/suthakamal">@suthakamal</a>.
    </p>
  </div>
  <div>
    <img src="/media/img/judges/portrait_florian.png">
    <h2>Florian Landerl</h2>
    <h3>Platogo</h3>
    <p>
    Ever since Florian’s first contact with a C64 almost 25 years ago he
    was hooked on games. Not content with just playing them he and some
    friends started developing games on their own and selling them on the
    schoolyard. After finishing university Florian went on to become an
    award-winning web developer. In recent years he decided to get back to
    his gaming roots and co-founded Platogo; the company
    provides tools & services for online game developers who want to bring
    their games to various social networks. Florian can be found online at
    <a href="http://www.sirflo.com">http://www.sirflo.com</a>
  </div>
  <div>
    <img src="/media/img/judges/portrait_tan.png">
    <h2>Tan Le</h2>
    <h3>Emotiv</h3>
    <p>
    Tan Le is the head of Emotiv Systems, which is developing the next generation
    of human-machine interface — a headset that takes input directly from the
    brain. Emotiv’s vision is to revolutionize human-computer input in the same
    way the graphic user interface did 20 years ago. Emotiv is a recognized
    world leader and pioneer in this field of brain computer interface. Tan
    has been featured in “Who’s Who in Australia” List since 1999 and “Who’s
    Who of Australian Women” List in 2007 & 2008, Fast Company’s Most Influential
    Women in Technology in 2010. Tan has been honored by the World Economic
    Forum as a Young Global Leader since 2009.
    </p>
  </div>
  <div>
    <img src="/media/img/judges/portrait_catherine.png">
    <h2>Cathy Leung</h2>
    <h3>Seneca College</h3>
    <p>
    Catherine Leung is a professor at Seneca College in Toronto, Ontario.
    She teaches courses in the game programmer stream. Additionally she is also
    the project lead for c3dl, a JavaScript Library for 3D applications.
    </p>
  </div>
  <div>
    <img src="/media/img/judges/portrait_hilary.png">
    <h2>Hilary Mason</h2>
    <h3>bit.ly</h3>
    <p>
    Hilary is the lead scientist at bit.ly, where she is finding sense in
    vast data sets. She is a former computer science professor with a background
    in machine learning and data mining, has published numerous academic papers,
    and regularly releases code on her personal site, 
    <a href="http://www.hilarymason.com">www.hilarymason.com</a>. She
    has discovered two new species, loves to bake cookies, and asks way too
    many questions.
    </p>
  </div>
  <div>
    <img src="/media/img/judges/portrait_peter.png">
    <h2>Peter Merholz</h2>
    <h3>Adaptive Path</h3>
    <p>
    Peter Merholz is a founding partner, board member, and president of Adaptive
    Path. For more than seven years, Peter has been instrumental in developing
    Adaptive Path’s ability to provide world-class consulting, training, and
    public events. Peter is an internationally recognized thought leader on
    user experience. His blogs and his essays for Adaptive Path demonstrate
    his foresight on issues of information architecture, organizational change,
    and product strategy. Peter’s thought leadership is perhaps most dubiously
    demonstrated in his coining of the term “blog” in 1999 when it was a nascent
    genre.
    </p>
  </div>
  <div>
    <img src="/media/img/judges/portrait_phil.png">
    <h2>Phil Morle</h2>
    <h3>Pollenizer</h3>
    <p>
    Phil Morle is one of the founders of Pollenizer a group that builds and
    invests in web businesses in Australia. He learned his trade as the CTO
    of Kazaa for 5 years, during which time he steered the business through
    acquiring a few hundred million users and a spectacular legal battle with
    the record industry. This job also gave him a head start in understanding
    what is now called ‘user-generated-content’ and the different approach this
    requires to run a web business. He is one of the founder members of the
    Data Portability initiative and is passionate (addicted?) to starting Web
    businesses.
    </p>
  </div>
  <div>
    <img src="/media/img/judges/portrait_nilay.png">
    <h2>Nilay Patel</h2>
    <h3>Engadget</h3>
    <p>
    Nilay Patel is the managing editor of Engadget. Nilay drove a Chrysler
    into a pond when he was four. Everything else has followed logically. You
    can find him on Twitter <a href="http://twitter.com/reckless">@reckless</a>.
    </p>
  </div>
  <div>
    <img src="/media/img/judges/portrait_robert.png">
    <h2>Robert Reich</h2>
    <h3>One Riot Co-Founder</h3>
    <p>
    Robert Reich is the founder of OneRiot and creator of OneRiot’s patent
    pending algorithm, which is the technology that makes OneRiot unique in
    the Real Time Space. He founded Add-On-Con, a conference focused on the
    development and marketing of Add-ons, Started and hosts the New tech Boulder
    and Denver, Adjunct Professor on Media and Business Design at University
    of Colorado (CU), named inventor and contributor on 6 patents, advisory
    board member of Silicon Flatirons, board member Boulder Digital Works at
    CU and is the CEO of a new startup.
    </p>
  </div>
  <div>
    <img src="/media/img/judges/portrait_john.png">
    <h2>John Resig</h2>
    <h3>Mozilla</h3>
    <p>
    John Resig is a JavaScript Tool Developer for the Mozilla Corporation
    and the author of the book Pro JavaScript Techniques. He’s also the creator
    and lead developer of the jQuery JavaScript library. Currently, John is
    located in Boston, MA. He’s hard at work on his second book, Secrets of
    the JavaScript Ninja.
    </p>
  </div>
  <div>
    <img src="/media/img/judges/portrait_joerg.png">
    <p>
    <h2>Jörg Rheinboldt</h2>
    <h3>betterplace.org</h3>
    <p>
    Jörg Rheinboldt founded his first company denkwerk in 1994 in Cologne.
    In early 1999 Joerg founded alando.de AG together with five friends. alando.de
    was bought by eBay Inc. in summer of 1999. From 1999 until 2004 Joerg grew
    as managing director to eBay.de from 6 to 600 people in Germany and into
    Germany´s most successful ecommerce site of those days. After taking a paternal
    leave for 6 months, Joerg cofounded M10 and since then focuses on investing
    in Internet startups with excellent teams and scalable ideas. In 2008 Joerg
    and others started <a href="http://betterplace.org">betterplace.org</a>.
    The online platform connects people
    in need of support with others who want to help and makes new ways of giving
    possible. Joerg is living in Berlin, Germany together with his wife and
    their twins and likes spending time with his family, collecting info, knowledge
    and gadgets and loves being outdoors in his “off the grid moments.”
  </div>
  <div>
    <img src="/media/img/judges/portrait_neal.png">
    <h2>Neal Sample</h2>
    <h3>eBay</h3>
    <p>
    As eBay’s vice president of architecture, Neal Sample brings nearly 20
    years of passion for platform operations and data challenges to the world’s
    largest online marketplace. Neal leads eBay’s platform architecture strategy,
    managing the design and delivery of eBay’s platform efforts and further
    integrating eBay’s range of components – including eBay mobile, Open eBay
    developer program, cloud computing and social commerce – into the eBay.com
    platform infrastructure. Neal joined eBay from Yahoo!, where he most recently
    was vice president of Yahoo’s open, social and participation (YOS) platforms.
    Sample holds a Bachelor of Science and Master of Science degree in computer
    science from the University of Wyoming, and a doctorate in computer science
    from Stanford University, where his post-doctoral work included a position
    with the CIA Office of Research and Development.
    </p>
  </div>
  <div>
    <img src="/media/img/judges/portrait_jakob.png">
    <h2>Jakob Sommerhuber</h2>
    <h3>Platogo</h3>
    <p>
    Jakob founded Platogo in early 2008 with Florian Landerl. Prior to Platogo,
    Jakob studied computer science at the Technical University, Vienna and worked
    as a Java developer for RI3K in London. In addition to project management
    and platform development, Jakob oversees the financial and organizational
    aspects of Platogo.
    </p>
  </div>
  <div>
    <h2>Jon Stokes</h2>
    <h3>Ars Technica</h3>
    <p>
    Jon Stokes is a co-founder and Deputy Editor at ArsTechnica.com where he covers
    the semiconductor industry, graphics, high-performance computing, and emerging
    trends in IT. Jon also periodically covers national security, e-voting, and tech
    policy. Jon may be best known as the author of “Inside the Machine,” a popular,
    accessible resource on microprocessor architecture, published in 2007.
    </p>
  </div>
  <div>
    <img src="/media/img/judges/portrait_paul.png">
    <h2>Paul Tarjan</h2>
    <h3>Facebook</h3>
    <p>
    Paul Tarjan is a webhacker at Facebook. He is a big proponent of open
    web standards with his work on the open graph protocol, OAuth2, and his
    love of JavaScript. Previously, Paul worked for Yahoo! co-founding Search
    Monkey- one of the first major changes to the search result page in 9 years.
    He has a Master’s degree from Stanford and two bachelors degrees in Math
    and Computer Science. He is also an avid gamer; previously wasting his life
    with WoW and currently wasting his life with Civ5 (but not wasting his life
    on FarmVille). You’ll often see him riding a ripstick or unicycle while
    juggling.
    </p>
  </div>
  <div>
    <img src="/media/img/judges/portrait_robyn.png">
    <h2>Robyn Tippins</h2>
    <h3>Yahoo! Developer Network</h3>
    <p>
    Robyn Tippins is the community manager at the Yahoo! Developer Network.
    A community advocate with 10+ years in the social marketing space, Robyn
    has blogged for blog networks and corporations, podcasted for small and
    large businesses, worked closely with social networking sites, and advised
    Fortune 500 companies on social media and community. Her book, co-authored
    with Miranda Marquit, “Community 101” will be released in 2010. She blogs
    at <a href="http://sleepyblogger.com">http://sleepyblogger.com</a>.
    </p>
  </div>
  <div>
    <img src="/media/img/judges/portrait_johnathan.png">
    <h2>Jonathan Trevor</h2>
    <h3>Polyvore</h3>
    <p>
    Jonathan is an architect/researcher/manager/developer/hacker who draws
    upon a broad research background and development skills to create user-centered
    applications and systems. These range from desktop applications, to web-based
    applications, to hand-held mobile applications, to drivers for RFID hardware.
    He is currently at Polyvore, helping people discover their style (and his
    own!). Before joining Polyvore, Jonathan led the teams who built the Yahoo!
    Query Language and Yahoo! Pipes.
    </p>
  </div>
</section>
{% endblock %}
