{% extends "base.html" %}
{% load flatblock_tags %}

{% block class %}copy{% endblock %}

{% block content %}

<h1>Judging</h1>
<p>
    We spent a lot of time thinking about how to keep Game On 2010 judging fun,
    fair, and consistent with the values of the Open Web (transparent, open, and
    participatory).
</p>

<p>
    Here’s how it’s going to work: Winners will be picked by objective voting by
    the gaming community and by a panel of industry experts. There will be two
    groups of voters: the gaming community and expert judges. All voting will take
    place at the same time: between 12:00 GMT on Wednesday, January 12 and 11:00
    GMT on Friday, February 11 (TBD).
</p>

<section>
  <h2 id="community">Community Voting</h2>
  <p>
      Any member of the gaming community (developers, players, fans, media) may
      vote. Community voters will need a valid e-mail address because we will ask
      them to verify their votes by e-mail.
  </p>

  <p>
  We will implement a number of mechanisms to ensure fair voting, but the honor
  code applies (see the “honor code” section below).
  </p>
</section>

<section>
  <h2 id="experts">Expert Voting</h2>
  <p>
    We have brought together an awesome and diverse panel of expert judges who are volunteering their time to provide thoughtful feedback on your work.
  </p>

  <p>
  Each expert judge will be asked to review an initial batch of entries. After
  they do their initial review, judges will be encouraged to review a handful
  more of the top entries (determined by community) that pique their interest.
  Experts will not be allowed to vote for people who they know.
  </p>
</section>

<section>
  <h2 id="evaluation">Evaluation</h2>
  <p>
  Entries will be judged on a 1-5 scale across 6 dimensions:
  </p>

  <ul>
    <li><b>Technology</b> – Does your game demonstrate technical mastery (game engine/ code base)
    <li><b>Web-iness</b> – Does your game showcase the power of Open Web technologies?
    <li><b>Aesthetics</b> – How good is the visual design and interaction experience?
    <li><b>Originality</b> – How innovative and unique is the idea and execution?
    <li><b>Polish</b> – How “production-ready” is the game?
    <li><b>Fun</b> – Is the game offering an experience you want to return to again and again?
  </ul>
</section>

<section>
  <h2 id="calculation">Calculation</h2>
  <p>
  A team’s score will be determined by adding the expert judge score and the
  public score for each dimension.
  </p>

  <p>
  The overall score will be the average of all 6 components (technology,
  web-iness, aesthetics, originality, polish, fun, and community).
  </p>
</section>

<section>
  <h2 id="honorcode">Honor Code</h2>
  <p>
  The goal of this competition is to have some good clean fun, so the honor code
  applies: we’re trusting you to be honorable and to practice good
  sportsmanship.
  </p>

  <p>
  We will be implementing a zero-tolerance policy towards cheating. If you are
  proven to be cheating, you will be disqualified immediately, banned from all
  future events, and we are not responsible for what happens to your overall
  reputation as a result.
  </p>
</section>

<section>
  <h2 id="closing">Closing Thoughts</h2>
  <p>
  We created this voting structure based on lessons from dozens of other
  competitions and we believe that they’re going to help make for a great
  competition. That said, we recognize that no voting system is perfect and
  we’re open to your feedback on ways to make it even better.
  </p>

  <p>
  When all is said and done, regardless of who wins or loses, we trust that you
  will have had a great time building something shiny, new, and awesome for tons
  of people to enjoy on the Web.
  </p>

  <p>
  Lastly, we have the less humanized, more legalized version of these rules
  written here.
  </p>
</section>

{% endblock %}