{% extends "base.html" %}

{% block class %}rules copy{% endblock %}

{% block content %}
  <h1>The Rules</h1>
  
  <h2 id="technology">Technology</h2>
  <p>
    All games must be built using Open Web technologies. This includes but is not
    limited to HTML, CSS, JavaScript as well as server-side code such as PHP,
    Python, Ruby or Java. You can use libraries (no worries, you don’t need to
    reinvent the wheel). No browser plug-ins are allowed (and we’re strict on this
    one!).
  </p>

  <h2 id="timing">Timing</h2>
  <h3>submission period starts September 29th, 2010</h3>
  <h3>submissions close January 11th, 2011</h3>

  <p>
    This gives you a little over 3 months and an entire holiday season to develop
    your Open Web game during Game On 2010.
  </p>
  <p>
    The competition kicks off at 12:00am / 00:00 GMT on September 29th, 2010 and
    will end at 11:00am / 11:00 GMT on January 11th, 2011. You are welcome to work
    on the concept for your game before the competition starts: napkin doodles,
    insomniac wire-framing, robots in disguise even some hacking if you like.
  </p>
  <p>
    After time expires, an expert panel and the public will be invited to play
    your game and judge it against the competition. No additional features, fixes,
    or modifications are allowed during the judging period, or you will be
    disqualified. We really want to play your game, so please don’t make us
    disqualify you before we have the chance.
  </p>

  <h2 id="teams">Teams and Contestants</h2>
  <p>
    Individuals as well as teams are welcome to participate. To be eligible,
    individuals and teams must submit their entry before the official competition
    deadline. Don’t be too late – as much as we all thrive on getting the
    finishing touches done in the 11th hour, we don’t want you to miss the
    deadline.
  </p>
  <p>
    If you work for a sponsor – sorry, but we can’t accept your submission to this
    competition. And don’t worry if you know a judge: We’ll prevent judges from
    voting on a team they know personally and make sure they commit to being fair
    and objective in their evaluation.
  </p>

  <h2 id="open">Open Web Games</h2>
  <p>
    Entries should be fully operational games, built to run in Firefox 4 and other
    modern Web browsers without any plug-ins.
  </p>
  <p>
    Libraries and modules that are public and freely available are allowed and
    encouraged. Please list all libraries that you use on your team’s profile page
    to give fair attribution. Stock photos and free icon sets are allowed. Paying
    for something that is not generally available to everyone is not. And please
    make sure you don’t violate the copyright of others – that Lady Gaga song
    might be perfect for your game, but unless you have it in writing from Gaga’s
    management, don’t use it.
  </p>
  <h2 id="webservices">Web Services</h2>
  <p>
    Feel free to make use of third-party web services and their APIs (e.g.
    Twitter, Flickr, Google maps, Yahoo! pipes, OpenID). Almost everyone loves
    mashups, and it’s fun to see what you can do with them in the context of a
    game. Just make sure to update your team profile listing the services you use.
  </p>

  <h2 id="deployment">Deployment</h2>
  <p>
    It’s completely up to you where you deploy your code. You can use your own
    server, public webspace you have somewhere, cloud hosting services such as
    Google’s App Engine or simply contact us to get access to a free, private
    instance of AMAZONS EC2 cloud service. Whatever you decide to do – make sure
    your server is up and running during the judging period. It would be a shame
    if we couldn’t judge your awesome game only because someone poured coffee over
    your the server you host behind your fridge. Entries have to remain up until
    winners are announced.
  </p>
  
  <h2 id="ownership">Ownership and Open Source</h2>
  <p>
    The code you write is yours. If you intend to share it after the competition,
    you can pick whatever license you prefer. We encourage contestants to open
    source their code, but that’s entirely up to you. If you decide to start a
    business based on it, we wish you much success.
  </p>
{% endblock %}