{# vim: set ts=2 et sts=2 sw=2: #}
<!doctype html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title></title>
</head>
<body>
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  <header>
    {% if user.is_authenticated %}
      Welcome {{ user.username }}
      <a href="{% url auth_logout %}">logout</a>
    {% else %}
      <a class="login" href="{% url auth_login %}">login</a>
      <a class="join" href="{% url registration_register %}">join</a>
    {% endif %}
  </header>
  {% block content %}
  {% endblock %}
  <footer>
  </footer>
</body>
</html>
