{% load tags %}
{% load bundler_tags %}
<!-- You are in a twisting series of little tubes, all alike. -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Mozilla Labs Gaming</title>
    {% load_bundle "styles-min" %}
  </head>
  <body class="{% block class %}{% endblock %}">
    <div id="page">
      <header class="menu">
          <a class="toplogo" href="http://www.mozillalabs.com/gaming/" target="_blank">
            <img src="{{ MEDIA_URL }}img/logo.png" border="0">
          </a>
          {% navigation %}
          <section id="auth">
            {% if user.is_authenticated %}
              signed in as <a href="{% url games.mine %}">{{ user.username }}</a>
              <a href="{% url auth_logout %}">logout</a>
            {% else %}
              <a class="login" href="{% url auth_login %}">login</a>
              or
              <a class="join" href="{% url registration_register %}">register</a>
            {% endif %}
          </section>
      </header>

      {% if messages %}
        <ul id="messages">
          {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      <div id="content">
        {% block content %}

        {% endblock %}
      </div>

      <footer>
        <a href="http://www.mozillalabs.com"><img class="logo" src="{{ MEDIA_URL }}img//labs-logo.png" border="0"></a>
        Copyright &copy; 2005-2010 Mozilla. All rights reserved.
        <a href="http://www.mozilla.com/en-US/privacy-policy.html">Privacy Policy</a>
        <a href="http://www.mozilla.com/en-US/about/legal.html">Legal Notices</a>
      </footer>
    </div>
    {% load_bundle "scripts-min" %}
    {% deferred_content %}
  </body>
</html>

