{% extends "games/base.html" %}

{% block class %}form{% endblock %}

{% block content %}
  <h1>Submit a Game</h1>
  {% if form.errors %}
    <ul class="errorlist">
      <li>Please fix the errors and submit again.</li>
    </ul>
  {% endif %}
  <form method="post">
    {% csrf_token %}
    <ul>
      <!-- {{ form.as_ul }} -->
      <li>{{ form.name.errors }}{{ form.name.label_tag }}{{ form.name }}</li>
      <li>{{ form.description.errors }}{{ form.description.label_tag }}{{ form.description }}</li>
      <li>{{ form.url.errors }}<label for="id_url">URL of the game:</label>{{ form.url }}</li>
      <li>
        {{ form.source.errors }}
        <label for="id_source" class="optional">
          URL of the source code:
        </label>{{ form.source }}
      </li>
      <li>
        <label for="id_resources" class="optional">
          Describe the tools, libraries and other resources you used in the
          making of this game:
        </label>{{ form.resources }}
      </li>
      {{ form.accept.errors }}
      {{ form.accept }}<label>I accept the <a target="_blank" href="/rules#terms">Game On! 2010 Terms and Conditions</a></label>
    </ul>
    <input type="submit" value="Submit your game" />
  </form>
{% endblock %}
