{% load waffle_tags %}

<section class="game" id="game-{{ game.id }}">
  <div class="thumb">
    {% if game.screenshot_set.all %}
      <div style="background-image: url({{ game.screenshot_set.all.0.get_absolute_url }});">
    {% else %}
      <div>
    {% endif %}
    </div>
  </div>
  <h2><a href="{{ game.get_absolute_url }}">{{ game.name }}</a></h2>
  <p>{{ game.description }}</p>
  <nav>
    <a class="action" target="_blank" href="{{ game.url }}">Play</a>
    {% if game.source %}
      <a class="action" href="{{ game.source }}">See the source</a>
    {% endif %}
    {% waffle allow_editing %}
      {% if game.creator == request.user %}
        <a class="action" href="{% url games.edit game.id %}">Edit</a>
      {% endif %}
    {% endwaffle %}
  </nav>
</section>
