<section class="game" id="game-{{ game.id }}">
  <div class="thumb">
    <div>
  {% if game.screenshot_set.all %}
    <img src="{{ game.screenshot_set.all.0.get_absolute_url }}">
  {% endif %}
    </div>
  </div>
  <h2><a href="{{ game.get_absolute_url }}">{{ game.name }}</a></h2>
  <p>{{ game.description }}</p>
  <nav>
    <a class="action" href="{{ game.url }}">Play</a>
    {% if game.source %}
      <a class="action" href="{{ game.source }}">See the source</a>
    {% endif %}
  </nav>
</section>
