{% extends "games/base.html" %}

{% block content %}
  <h1>Games</h1>
  <article class="tile-list">
  {% for game in games %}
    <section class="game" id="game-{{ game.id }}">
      <h2><a href="{{ game.get_absolute_url }}">{{ game.name }}</a></h2>
      <p>{{ game.description|truncatewords_html:40 }}</p>
      <ul class="links">
        <li><a href="{{ game.url }}">Play</a></li>
        {% if game.source %}
          <li><a href="{{ game.source }}">See the source</a></li>
        {% endif %}
      </ul>
    </section>
  {% endfor %}
  </article>
{% endblock %}
