{% extends "games/base.html" %}

{% block content %}
  <article>
  <h1>My Games</h1>
  {% for game in games %}
    <section class="game" id="game-{{ game.id }}">
      <h1>{{ game.name }}</h1>
      <p class="edit"><a href="{% url games.edit game.id %}">edit</a></p>
      <p>{{ game.description }}</p>
      <ul>
        <li><a href="{{ game.url }}">Play</a></li>
        {% if game.source %}
          <li><a href="{{ game.source }}">See the source</a></li>
        {% endif %}
      </ul>
    </section>
  {% endfor %}
  </article>
{% endblock %}
