{% extends "games/base.html" %}

{% block content %}
  <h1>{{ game.name }}</h1>
  <article class="game single">
    <section class="screenshots">
      <h2>Screenshots</h2>
      <ul class="screenshots">
      {% for screenshot in game.screenshot_set.all %}
        <li id="screenshot-{{ screenshot.id }}">
          <img src="{{ screenshot.get_absolute_url }}">
        </li>
      {% empty %}
        <li>No Screenshots Available</li>
        {% if game.creator == request.user and settings.ALLOW_EDITING %}
          <h3><a href="{% url games.edit game.id %}">Add Screenshots</a></h3>
        {% endif %}
      {% endfor %}
      </ul>
    </section>
    
    <section class="description">
      <ul class="links">
        <li><a class="action" href="{{ game.url }}">Play the game</a></li>
        {% if game.source %}
          <li><a class="action" href="{{ game.source }}">See the source</a></li>
        {% endif %}
        {% if game.creator == request.user and settings.ALLOW_EDITING %}
          <li><a class="action" href="{% url games.edit game.id %}">Edit</a></li>
        {% endif %}
      </ul>

      <h2>Description</h2>
      {{ game.description|linebreaks }}

      {% if game.resources %}
        <h2>Resources Used</h2>
        {{ game.resources|linebreaks }}
      {% endif %}
    </section>
    
    {% if not game.screenshot_set.all %}
    {% endif %}

  </article>
{% endblock %}
