{% extends "base.html" %}

{% load flatblock_tags %}

{% block class %}prizes winners copy{% endblock %}

{% block content %}
  <h1>High Scores</h1>
  <h2>Congratulations to the bit-slingers, pixel-wranglers, and JavaScript junkies listed
      here for showing the world what the Web can do!</h2>
  <section class="grandprize">
    <h2>BEST OVERALL</h2>
    <section class="game">
      <h2><a href="/games/130/marble-run">MARBLE RUN</a></h2>
      <h4>by <span>stravid</span></h4>
      <div class="thumb">
        <img src="/media/uploads/marblerun.png">
      </div>
      <div class="button">
        <a target="_blank" href="http://marblerun.at/"><br/>Play Now!</a>
      </div>
    </section>
  </section>
  <section class="categoryprizes">
    <h2>CATEGORY PRIZES</h2>
    <ul class="categories">
      <li>
        <hgroup>
          <h2><a href="/games/133/far-7">FAR 7</a></h2>
          <h3>Best Technology</h3>
          <h4>by <span>Sontan</span></h4>
          <nav>
            <a class="action" target="_blank" href="http://far7.by/">Play Now!</a>
          </nav>
        </hgroup>
      </li>
      <li>
        <hgroup>
          <h2><a href="/games/130/marble-run">MARBLE RUN</a></h2>
          <h3>Best Web-iness</h3>
          <h4>by <span>stravid</span></h4>
          <nav>
            <a class="action" target="_blank" href="http://marblerun.at/">Play Now!</a>
            <a class="action" href="https://github.com/MathiasPaumgarten/marblerun">See the source</a>
          </nav>
        </hgroup>
      </li>
      <li>
        <hgroup>
          <h2><a href="/games/169/sketchout">Sketchout</a></h2>
          <h3>Best Aesthetics</h3>
          <h4>by <span>Fi</span></h4>
          <nav>
            <a class="action" target="_blank" href="http://sketch-out.appspot.com/">Play Now!</a>
          </nav>
        </hgroup>
      </li>
      <li>
        <hgroup>
          <h2><a href="/games/72/favimon">Favimon</a></h2>
          <h3>Most Original</h3>
          <h4>by <span>oulipian</span></h4>
          <nav>
            <a class="action" target="_blank" href="http://www.favimon.com/">Play Now!</a>
          </nav>
        </hgroup>
      </li>
      <li>
        <hgroup>
          <h2><a href="/games/148/websnooker">Websnooker</a></h2>
          <h3>Most Polished</h3>
          <h4>by <span>leek</span></h4>
          <nav>
            <a class="action" target="_blank" href="http://beta.websnooker.com/">Play Now!</a>
          </nav>
        </hgroup>
      </li>
      <li>
        <hgroup>
          <h2 class="tiny"><a href="/games/149/robots-are-people-too">Robots Are People Too</a></h2>
          <h3>Most Fun</h3>
          <h4>by <span>rapt</span></h4>
          <nav>
            <a class="action" target="_blank" href="http://raptjs.heroku.com/">Play Now!</a>
            <a class="action" href="https://github.com/evanw/rapt">See the source</a>
          </nav>
        </hgroup>
      </li>
      <li>
        <hgroup>
          <h2><a href="/games/126/z-type">Z-Type</a></h2>
          <h3>Community Choice</h3>
          <h4>by <span>phoboslab</span></h4>
          <nav>
            <a href="http://www.phoboslab.org/ztype/" target="_blank" class="action">Play Now!</a>
          </nav>
        </hgroup>
      </li>
    </ul>
  </section>
{% endblock %}