{% extends "base.html" %}

{% load flatblock_tags %}

{% block class %}prizes winners copy{% endblock %}

{% block content %}
  <h1>High Scores</h1>
  <section class="grandprize">
    <h2>BEST OVERALL</h2>
    <section id="game-126" class="game">
      <h2><a href="/games/126/z-type">Z-Type</a></h2>
      <div class="thumb">
        <img src="https://gaming.mozillalabs.com/media/uploads/ztype.png">
      </div>
      <div class="button">
        <a href="http://www.phoboslab.org/ztype/" target="_blank"><br>Play Now!</a>
      </div>
    </section>
  </section>
  <section class="categoryprizes">
    <h2>CATEGORY PRIZES</h2>
    <ul class="categories">
      <li>
        <hgroup>
          <h2><a href="/games/126/z-type">Z-Type</a></h2>
          <h3>Best Technology</h3>
          <nav>
            <a href="http://www.phoboslab.org/ztype/" target="_blank" class="action">Play Now!</a>
          </nav>
        </hgroup>
      </li>
      <li>
        <hgroup>
          <h2><a href="/games/126/z-type">Z-Type</a></h2>
          <h3>Best Web-iness</h3>
          <nav>
            <a href="http://www.phoboslab.org/ztype/" target="_blank" class="action">Play Now!</a>
          </nav>
        </hgroup>
      </li>
      <li>
        <hgroup>
          <h2><a href="/games/126/z-type">Z-Type</a></h2>
          <h3>Best Aesthetics</h3>
          <nav>
            <a href="http://www.phoboslab.org/ztype/" target="_blank" class="action">Play Now!</a>
          </nav>
        </hgroup>
      </li>
      <li>
        <hgroup>
          <h2><a href="/games/126/z-type">Z-Type</a></h2>
          <h3>Most Original</h3>
          <nav>
            <a href="http://www.phoboslab.org/ztype/" target="_blank" class="action">Play Now!</a>
          </nav>
        </hgroup>
      </li>
      <li>
        <hgroup>
          <h2><a href="/games/126/z-type">Z-Type</a></h2>
          <h3>Best Polish</h3>
          <nav>
            <a href="http://www.phoboslab.org/ztype/" target="_blank" class="action">Play Now!</a>
          </nav>
        </hgroup>
      </li>
      <li>
        <hgroup>
          <h2><a href="/games/126/z-type">Z-Type</a></h2>
          <h3>Most Fun</h3>
          <nav>
            <a href="http://www.phoboslab.org/ztype/" target="_blank" class="action">Play Now!</a>
          </nav>
        </hgroup>
      </li>
      <li>
        <hgroup>
          <h2><a href="/games/126/z-type">Z-Type</a></h2>
          <h3>Community Choice</h3>
          <nav>
            <a href="http://www.phoboslab.org/ztype/" target="_blank" class="action">Play Now!</a>
          </nav>
        </hgroup>
      </li>
    </ul>
  </section>
{% endblock %}